<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Please Log In</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <script>
            function togglePassword()
                {
                const password = document.getElementById("password");
                const btn = document.getElementById("show_password");

                if (password.type === "password") {
                    password.type = "text";
                    btn.textContent = "Hide Password";
                } else {
                    password.type = "password";
                    btn.textContent = "Show Password";
                }
            }
        </script>
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('polytopia') }}">Polytopia</a>
            <a href="{{ url_for('steamaction') }}">Steam Action</a>
            <a href="{{ url_for('inventory_management') }}">Inventory Management</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="{{ url_for('login') }}">Login</a>
        </nav>
        <div>
            <h1 class="form_title">Login</h1>
            <form  method="get" action="{{ url_for('login') }}" class="form">
                <!-- action="/login" -->
                <div>
                    <label for="username">Username or Email</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" minlength="8" maxlength="15" required>
                    <button type="button" id="show_password" onClick="togglePassword()">Show Password</button>
                </div>
                <div>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="all_rights_reserved">
            <p>&copy; {{ now.strftime("%B %d, %Y at %I:%M %p") }} All rights reserved</p>
        </div>
    </body>
    </html>
