<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('polytopia') }}">Polytopia</a>
        <a href="{{ url_for('steamaction') }}">Steam Action</a>
        <a href="{{ url_for('inventory_management') }}">Inventory Management</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    <div>
        <h1 class="form_title">Sign Up</h1>
    </div>
    <div>
        <form action="/signup" method="post" class="form ">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="{{ error if error else '' }}" required>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="8" maxlength="15" required>
                <button type="button" id="show_password" onclick="togglePassword()">Show Password</button>
            </div>
            <script>
                function togglePassword() {
                    const password = document.getElementById("password");
                    const btn = document.getElementById("show_password");

                    if (password.type === "password") {
                        password.type = "text";
                        btn.textContent = "Hide Password";
                    } else {
                        password.type = "password";
                        btn.textContent = "Show Password";
                    }
                }
            </script>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

    <div class="all_rights_reserved">
        <p>&copy; {{ now.strftime("%B %d, %Y at %I:%M %p") }} All rights reserved</p>
    </div>
</body>
</html>
