<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script>
            function togglePassword(password_id, btn_id)
                {
                const password = document.getElementById(password_id);
                const btn = document.getElementById(btn_id);

                if (password.type === "current_password") {
                    password.type = "text";
                    btn.textContent = "Hide Password";
                } else {
                    password.type = "current_password";
                    btn.textContent = "Show Password";
                }

                if (password.type === "new_password") {
                    password.type = "text";
                    btn.textContent = "Hide Password";
                } else {
                    password.type = "new_password";
                    btn.textContent = "Show Password";
                }
            }
    </script>
    <h1 class="userLogin_title">Welcome to the User Homepage {{ username }}</h1>
    <div>
        <h1 class="form_title">Update Password</h1>
        {% if error %}
        <div class="error-container">
            <p class="error-message">{{ error }}</p>
        </div>
        {% endif %}
        <form action="/update_password" method="post" class="form">
            <div>
                <input type="hidden" id="username" name="username" value="{{ username }}" required>
            </div>
            <div>
                <label for="current_password">Current Password</label>
                <input type="password" id="current_password" name="current_password" required>
                <button type="button" id="current_show_password" onclick="togglePassword('current_password', 'current_show_password')">Show Password</button>
            </div>
            <div>
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" minlength="8" maxlength="15"  required>
                <button type="button" id="show_password" onclick="togglePassword('new_password', 'new_show_password')">Show Password</button>
            </div>
            <div>
                <input type="submit" value="Update Password">
            </div>
        </form>
    </div>
</body>
</html>
